#wrapper{
  width:1024px;
  margin:20px auto;
}

.single-post{
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.69);
  border-radius: 4px;
  background-color: #ededed;
  margin-top:40px;
}

.post-title{
  background-color: #2d7eff;
  padding: 5px;
  font-size: 22px;
}

.post-data{
  float: right;
  margin-top:2px;
  margin-right: 5px;
  font-size: 15px;
}

.post-user{
  margin-right: 8px;
}

.clear{
  clear: both;
}

.comments-title{
  font-size: 16px;
  margin-left:10px;
  margin-bottom:5px;
}

.comments-container{
  background-color: white;
  padding-top:5px;
  padding-bottom:10px;
}

.comment{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.69);
  padding:4px;
  border-radius: 4px;
}